* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #fff;
  line-height: 1.6;
}
.hero{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;

}
.content {
  max-width: 600px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 1rem;
  text-transform: uppercase;
}
p {
  margin-bottom: 20px;
}

.btn {
  background-color: #ff69b4;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
} 
.gallery {
  position: relative;
}

.gallery img {
  max-width: 100%;
  border-radius: 10px;
}
.small-images img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #ff69b4;
}
.text{
  color: while;
  justify-content: center;
  text-align: center;
}
p{
  color: white;
  justify-content: center;
  text-align: center;
}
.pricing-table {
  display: flex;
  gap: 20px;
}

.card {
  background-color: #292929;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  position: relative;
}

.card h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.card ul li {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card ul li::before {
  color: #ff89c0;
  margin-right: 10px;
}

.card button {
  background-color: #ff89c0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.card button:hover {
  background-color: #e678ab;
}

.ducal {
  border: 2px solid #ff89c0;
}

.imperial {
  background-color: #a03685;
  border: 2px solid #e5e5e5;
}

.royal {
  border: 2px solid #ff89c0;
}

.crown {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
}

.imperial .crown {
  color: white;
}

.ducal .crown, .royal .crown {
  color: #ff89c0;
}